<footer class="footer">
    <div class="footer-inner">
        <div class="footer-grid">
            <div>
                <h3>AutoKNLS</h3>
                <p>Tu socio confiable en repuestos y accesorios automotrices.</p>
            </div>
            <div>
                <h4>Enlaces Rápidos</h4>
                <ul>
                    <li><a href="/ubicaciones.html">Ubicaciones</a></li>
                    <li><a href="/promociones.html">Promociones</a></li>
                    <li><a href="/repuestos.html">Repuestos</a></li>
                    <li><a href="/accesorios.html">Accesorios</a></li>
                </ul>
            </div>
            <div>
                <h4>Empresa</h4>
                <ul>
                    <li><a href="/nosotros.html">Nosotros</a></li>
                    <li><a href="/historia.html">Historia</a></li>
                    <li><a href="/compromiso.html">Compromiso</a></li>
                    <li><a href="/aplicacion.html">Trabaja con Nosotros</a></li>
                </ul>
            </div>
            <div>
                <h4>Soporte</h4>
                <ul>
                    <li><a href="/noticias.html">Noticias</a></li>
                    <li><a href="/blog.html">Blog</a></li>
                    <li><a href="/faq.html">FAQ</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; {{year}} AutoKNLS. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>