<header class="header">
  <div class="container">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <a href="/">
        <img src="/logo-autoknls.png" alt="AutoKNLS" class="logo">
      </a>
      <nav class="nav">
        <a href="/">Inicio</a>
        <a href="/ubicaciones.html">Ubicaciones</a>
        <a href="/promociones.html">Promociones</a>
        <a href="/repuestos.html">Repuestos</a>
        <a href="/accesorios.html">Accesorios</a>
        <a href="/nosotros.html">Nosotros</a>
        <a href="/historia.html">Historia</a>
        <a href="/compromiso.html">Compromiso</a>
        <a href="/noticias.html">Noticias</a>
        <a href="/blog.html">Blog</a>
        <a href="/aplicacion.html">Trabaja con Nosotros</a>
        <a href="/faq.html">FAQ</a>
      </nav>
    </div>
  </div>
</header>
